<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="wrap">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md d-flex justify-content-md-end">
                        <div class="social-media">
                            <p class="mb-0 d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span
                                        class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/user_partials/nav.ejs') %>
            <br><br><br><br><br>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">

                        <% if(!Cart || Cart.products < 1){ %>
                            <h2 class="text-center">Your cart is empty</h2>

                            <% } else{ %>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>       </th>
                                            <th>       </th>
                                            <th class="text-center">Price</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           <% Cart.products.forEach((cart) => { %> 
                                                <td class="col-sm-8 col-md-6"> 
                                                    <div class="media">
                                                            <img class="media-object"
                                                                src="/uploads/images/<%=cart.img %>"
                                                                style="width: 72px; height: 72px; margin-right: 16px;">
                                                        <div class="media-body">
                                                            <h4>  <%= cart.name %> </h4>
                                                            <p><%= cart.details %></p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                                    <p><%= cart.quantity %> </p>
                                                    <!-- <input type="number" class="form-control" id="exampleInputEmail1" value=""> -->
                                                </td>
                                                <!-- <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td> -->
                                                <td>
                                                    <a href="update/<%= cart.productId %>?action=add"><strong>+</strong></a>
                                                </td>
                                                <td class="col-sm-1 col-md-1 text-center">
                                                    <a href="update/<%= cart.productId %>?action=remove"><strong>-</strong></a>
                                                </td>
                                                <td class="col-sm-1 col-md-1 text-center"><strong><%= cart.price%>₹</strong></td>
                                                <td class="col-sm-1 col-md-1">
                                                    <a href="update/<%= cart.productId %>?action=remove1" type="button" class="btn btn-danger">Remove</a>
                                                </td>
                                            </tr>
                                           <%  }); %>   
                                        <tr>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>
                                                <h3>Total</h3>
                                            </td>
                                            <td class="text-center">
                                                <p style="font-size: 1.5rem;"><strong><%= totalPrice %> ₹</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>
                                                <a href="/user" class="btn btn-secondary text-white">
                                                    Go back
                                                </a>
                                            </td>
                                            <td>
                                                <a href="order" type="button" class="btn btn-success">
                                                    Order Now
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            <% } %> 

                    </div>
                </div>
            </div>



            <!-- loader -->
            <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                        stroke="#F96D00" />
                </svg></div>


            <script src="/js/jquery.min.js"></script>
            <script src="/js/jquery-migrate-3.0.1.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/jquery.easing.1.3.js"></script>
            <script src="/js/jquery.waypoints.min.js"></script>
            <script src="/js/jquery.stellar.min.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/jquery.magnific-popup.min.js"></script>
            <script src="/js/jquery.animateNumber.min.js"></script>
            <script src="/js/bootstrap-datepicker.js"></script>
            <script src="/js/jquery.timepicker.min.js"></script>
            <script src="/js/scrollax.min.js"></script>
            <script src="/js/main.js"></script>


    </body>

</html>