<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <style>

        </style>

        <!-- side/nav/bar -->
        <%- include('./partials/admin_partials/side_nav_bar.ejs') %>

            <!-- side/nav/bar -->
            <br><br>

            <div class="container float-right">

                <br><br>

                <div class="container float-right">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phoneno</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% managerL.forEach(managerL=>{ %>
                                <% if(managerL.manager_role == true){ %>

                                    <tr>
                                        <td><img class="img-fluid smallimg"
                                                src="/uploads/images/<%= managerL.img %>"
                                                alt="food image"></td>
                                        <th scope="row"><%= managerL.username %></th>
                                        <td><%= managerL.phoneno %></td>
                                        <td><%= managerL.email %></td>
                                        
                                        <td>
                                            <!-- <a class="btn btn-outline-primary" href="/admin/editManager/<%= managerL._id %>">Edit</a> -->
                                            <a class="btn btn-danger" href="/admin/deleteManager/<%= managerL._id %>">Delete</a>
                                            <!-- <button type="button" class="btn btn-outline-primary">Edit</button> -->
                                            <!-- <button type="button" class="btn btn-danger">Delete</button> -->
                                        </td>
                                    </tr>
    
                                <% } %>  
                                
                            <% }) %> 

                           
                          
                        </tbody>
                    </table>


                </div>
            </div>


            <!-- end navbar -->

            <!-- <div style="height: 300vh; background-color: aqua;">
        
        <br><br><br><br>
        <div class="container-fluid" style="background: blueviolet;">
            <h3>sfsfsfsdfsdfsdfsdfs</h3>

        </div>

        <br><br><br><br>
        <h1 class="float-right" style="color: blue;">hello</h1>

    </div> -->


            <!-- loader -->
            <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                        stroke="#F96D00" />
                </svg></div>


            <script src="/js/jquery.min.js"></script>
            <script src="/js/jquery-migrate-3.0.1.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/jquery.easing.1.3.js"></script>
            <script src="/js/jquery.waypoints.min.js"></script>
            <script src="/js/jquery.stellar.min.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/jquery.magnific-popup.min.js"></script>
            <script src="/js/jquery.animateNumber.min.js"></script>
            <script src="/js/bootstrap-datepicker.js"></script>
            <script src="/js/jquery.timepicker.min.js"></script>
            <script src="/js/scrollax.min.js"></script>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
            <script src="/js/google-map.js"></script>
            <script src="/js/main.js"></script>


    </body>

</html>